ion-content{
    --padding-top:50px;
}
div{
    text-align: center;
    margin-top: 10px;
    span{
        color: blue;
    }
}
form{
    margin-top: 15px;
}
.imageProfile{
    display: flex;  
    justify-content: center;
    margin-top: -70px;
    ion-avatar{
        height: 150px;
        width: 150px;
    }
    margin-top: 20px;
    ion-fab-button{
        margin-left: -45px;
        margin-top: 90px;
        ion-icon{
            height: 30px;
            width: 30px;
        }
    }
}