ion-input{
    border: solid 1px;
    border-radius:  10px;
    background-color: rgb(228, 225, 225);
    width: 95%;
    margin: auto;
}
ion-button{
    width: 95%;
    display: block;
    margin: auto;
    margin-top: 20px;
    border: solid 1px;
}