<ion-list class="ion-no-margin ion-no-padding">
  <ion-item class="text-10" >  
    <ion-icon name="settings"></ion-icon>  
    <ion-label>Parametres</ion-label>  
  </ion-item>  

  <ion-item class="text-10" routerLink="/profile">  
    <ion-icon name="person" ></ion-icon>  
    <ion-label>Profile</ion-label>  
  </ion-item>
  
  <ion-item class="text-10">  
    <ion-icon name="people"></ion-icon>
    <ion-label>Nouveau groupe</ion-label>  
  </ion-item>

  <ion-item *ngFor="let colorTheme of colorThemes" >
    <div class="color" [style.background]="colorTheme.color" (click)="setTheme(colorTheme.color)"></div>
           {{colorTheme.name}}
  </ion-item >

</ion-list>  