.div_header{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.icon_search{
    margin-right: 10px;
}
.camera_color{
    color: grey;
}
.header{
    --ion-background-color: #075e54;
    color: white;
}
