.div_header{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.icon_search{
    margin-right: 10px;
}
ion-toolbar{
    --background: rgb(7,94,84);
    color: white;
}
ion-tabs{
    --background: rgb(7,94,84);
    color: white;
}
.camera_color{
    color: grey;
}
ion-content{
    --background: rgb(255,255,255);
}