<ion-header class="header">
  <ion-toolbar>
    <div class="div_header">
      <ion-label><b>WhatsApp</b></ion-label>
      <div>
        <ion-icon class="icon_search" name="search"></ion-icon>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </div>
    </div>
    <div>

    </div>
  </ion-toolbar>
  
</ion-header>


<ion-content>
  <ion-tabs background="rgb(7,94,84)">

    <ion-tab-bar slot="top">
      <ion-tab-button tab="camera">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="disc"> 
        <ion-label>DISC.</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="statuts">
        <ion-label>STATUTS</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="appels">
        <ion-label>APPELS</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>