<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar">
      <ion-back-button>
        <ion-icon name="arrow-back" ></ion-icon>
      </ion-back-button>
      <ion-title slot="end">
         Profile 
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    </div>
  <div class="header">
    <h2>Noe Kenfack</h2>
  </div>

  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <img src="../../assets/tw0nawnvo0zpgm5nx4fp.png">
        </div>
      </div>
    </div>
    <ion-fab-button color="light" class="edit_img">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </div>

  <ion-list>
    <ion-item>
      <div class="icon">
        <ion-icon name="person" color="secondary"></ion-icon>
      </div>
      <div class="subcontent">
        <div class="name_edit">
          <div >
            <span>Nom</span><br>
            Noe Ken
          </div>
          <div><ion-icon name=create-outline ></ion-icon></div>
        </div>
        <div class="inf">
          <p>Ce n'est pas votre nom d'utilisateur ou code d'accès. ce nom sera visible par vos contacts</p>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="icon">
        <ion-icon name="alert-circle-outline" color="secondary"></ion-icon>
      </div>
      <div class="subcontent">
        <div class="name_edit">
          <div >
            <span>Actu</span><br>
            Never give up
          </div>
          <div>
            <ion-icon name=create-outline ></ion-icon>
          </div>
        </div>
        <div class="inf">

        </div>
      </div>
    </ion-item>
    
  </ion-list>
</ion-content>