<ion-content [fullscreen]="true">

  <div class="chat_box">
    <div >
      <ion-avatar class="avatar_chat">
        <img src="../../assets/shapes.svg" alt="profile_image">
      </ion-avatar>
    </div>
    <div class="infos">
      <div class="chat_info">
        <div class="name">
          <ion-label> <b> Driss Ass </b> </ion-label>
        </div>
        <div class="latest_message">
          <ion-label class="subname"> Alexandre :</ion-label>
          <ion-label class="message"> comment tu vas? </ion-label>
        </div>
      </div>
      <div class="time"> Today</div>
    </div>
  </div>

</ion-content>