<ion-content [fullscreen]="true">

  <div class="chat_box" >
    <div class="avatar_chat">
      <ion-avatar class="prof_avatar" routerLink="/profile">
        <img src="../../assets/shapes.svg" alt="profile_image">
      </ion-avatar>
    </div>
    <div class="infos" routerLink="/discussions">
      <div class="chat_info">
        <div class="name">
          <ion-label> <b> Noe Ken </b> </ion-label>
        </div>
        <div class="latest_message">
           Alexandre :
          comment tu vas? 
        </div>
      </div>
      <div class="time"> Today</div>
    </div>
  </div>
  <ion-button routerLink="/dashboard" >dashboard</ion-button> 
</ion-content>