
.chat_box{
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    color: black;
    height: 10%;

}
.infos{
    display: flex;
    justify-content: space-between;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.avatar_chat{
    margin-right: 10px;
}
.prof_avatar{
    width: 45px;
    height: 45px
}
.time{
    font-size: smaller;
}
.chat_info{
    font-size:small;
    justify-content: space-between;
}
.latest_message{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: x-small;
    margin-top: 10px;
}
.name{
    margin-top: 2px;
}